@import "./bootstrap/css/bootstrap-grid.css";
@import "./bootstrap/css/bootstrap-grid.css.map";
@import "./bootstrap/css/bootstrap-grid.min.css";
@import "./bootstrap/css/bootstrap-grid.min.css.map";
@import "./bootstrap/css/bootstrap-reboot.css";
@import "./bootstrap/css/bootstrap-reboot.css.map";
@import "./bootstrap/css/bootstrap-reboot.min.css";
@import "./bootstrap/css/bootstrap-reboot.min.css.map";
@import "./bootstrap/css/bootstrap.css";
@import "./bootstrap/css/bootstrap.css.map";
@import "./bootstrap/css/bootstrap.css.map";
@import "./bootstrap/css/bootstrap.min.css";
@import "./bootstrap/css/bootstrap.min.css.map";

.nav-item{
    padding: 0 5vw;
}
.main-body{
    background-color: #80cde0;
}
.defaultview{
    padding-top: 10px;
}
html, body {
    margin: 0;
    height: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
 }