.nav-item{
    padding: 0 5vw;
}
.main-body{
    background-color: #80cde0;
}
.defaultview{
    padding-top: 10px;
}
html, body {
    margin: 0;
    height: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
 }